<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="<%= root_path %>">
    <div class="sidebar-brand-text mx-3">Boonus</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="<%= root_path %>">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">


  <!-- Nav Item - Empresas -->
  <li class="nav-item">
    <a class="nav-link" href="<%= companies_path %>">
      <i class="fas fa-fw fa-building"></i>
      <span>Empresas</span></a>
  </li>

  <!-- Nav Item - Categorias -->
  <li class="nav-item">
    <a class="nav-link" href="<%= categories_path %>">
      <i class="fas fa-fw fa-list"></i>
      <span>Categorias</span></a>
  </li>



  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
