
<div class="card shadow mb-4">
<table class="table">
  <thead>
    <tr>
      <th>
        <div class="d-flex justify-content-between">
          <div >
            <h1>Cadastrar Categoria</h1>
          </div>
          <div>
          <%= link_to categories_path, class: 'btn btn-dark btn-sm' do %>
            Voltar
          <% end %>
          </div>
        </div>
      <th>
    </tr>
  </thead>

  <tbody>
    <tr>   
     <td>
     <%= render 'form', category: @category %>
        </td>
      </tr>
    </tbody>
  </table>
</div>