<h1>New Company User</h1>

<%= simple_form_for @company_user, url: company_company_users_path(@company), method: :post do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
<% end %>

<%= link_to 'Back', company_path(@company) %>
